body {
  margin: 0px;
}

.main {
  background-color: #fafafa;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.block {
  margin: 10px;
  padding: 5px;
  background-color: #fefefe;
}

main {
  height: 450px;
}

section {
  padding: 5px;
}
